@import 'nib'

$default-border = transparent
// $default-border = rgba(238, 238, 238, .75)
$cell-fg = rgba(0, 0, 0, .87)
$cell-focus-bg = rgba(255, 255, 255, 1)
$cell-focus-border = #217346
$cell-no-focus-border = rgba(238, 238, 238, 1)
$header-bg = rgba(255, 255, 255, 1)
$header-cell-moving-bg = #9bc2e6
$header-container-border = rgba(238, 238, 238, 1)
$header-fg = rgba(0, 0, 0, .54)
$row-even-bg = rgba(255, 255, 255, 1)
$row-odd-bg = rgba(238, 238, 238, .3)
$row-hover = rgba(245, 245, 245, 1)
$row-selected = rgba(238, 238, 238, 1)

.ag-material
  .ag-root
    border: 1px solid $default-border
    font: 13px 'Roboto', sans-serif;

  .ag-cell
    color: $cell-fg
    letter-spacing: -.02em
    line-height: 48px
    overflow: hidden
    padding-left: 24px
    padding-right: 56px
    text-align: right // numbers
    //text-align: left // text
    top: -1px
    white-space: nowrap

  .ag-cell.ag-grid-checkbox-column
    padding-right: 24px

  .ag-column-moving .ag-cell
    transition: left .2s

  .ag-cell-focus
    background: $cell-focus-bg
    border: 2px solid $cell-focus-border

  .ag-cell-no-focus
    border-bottom: 1px solid $cell-no-focus-border
    border-left: 2px solid transparent
    border-right: 1px dotted $default-border
    border-top: 2px solid transparent

  .ag-cell-first-right-pinned
    border-left: 1px dotted $default-border

  .ag-header
    background-color: $header-bg
    border-bottom: 1px solid $default-border

  .ag-header-row
    line-height: 56px

  .ag-header-container
    border-bottom: 1px solid $header-container-border

  .ag-no-scrolls .ag-header-container
    background-color: $header-bg
    // border-bottom: 1px solid $header-container-border

  .ag-header-cell
    border-right: 1px solid $default-border
    text-align: right // numbers
    //text-align: left // text

  .ag-header-cell-moving .ag-header-cell-label
    // opacity: $header-fg-opacity

  .ag-header-cell-moving-clone
    background-color:rgba(91, 155, 213, .8)
    border-left: 1px solid grey
    border-right: 1px solid grey

  .ag-header-cell-moving
    background-color: $header-cell-moving-bg

  .ag-header-group-cell
    border-right: 1px solid $default-border

  .ag-header-group-cell-with-group
    border-bottom: 1px solid $default-border

  .ag-pinned-right-header
    border-left: 1px solid $default-border

  .ag-header-cell-label
    // padding: 4px 2px 4px 2px
    color: $header-fg
    font-size: 13px
    font-weight: bold

  .ag-header-cell-text
    padding-left: 24px
    padding-right: 56px

  .ag-header-group-cell-label
    padding: 4px;
    font-weight: bold;
    color: #ffffff;
    padding-left: 10px;

  .ag-header-group-text
    margin-right: 2px;

  .ag-header-cell-menu-button
    color: #ffffff;
    border: 1px solid #a6acb3;
    padding: 2px;
    margin-top: 3px;
    border-radius: 3px;
    box-sizing: content-box;
    line-height: 0px; /* normal line height, a space was appearing below the menu button */

    /* When using bootstrap, box-sizing was set to 'border-box' */

    //background: -webkit-linear-gradient(#feffff, #eff2f7);
    //background: linear-gradient(#feffff, #eff2f7);

  .ag-header-icon
    // color: #fff;
    stroke: #fff;
    fill: #fff;

  .ag-dark .ag-header-expand-icon:hover
    cursor: pointer;

  .ag-row:hover
    background-color: $row-hover

  .ag-row-odd
    background-color: $row-odd-bg

  .ag-row-even
    background-color: $row-even-bg

  .ag-overlay-loading-wrapper
    background-color: rgba(255, 255, 255, 0.5);

  .ag-overlay-loading-center
    background-color: #fff;
    border: 1px solid #a9a9a9;
    border-radius: 10px;
    padding: 10px;

  .ag-body
    background-color: #fafafa;

  .ag-row-selected
    background-color: $row-selected

  .ag-group-cell-entire-row
    background-color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    border-bottom: solid 1px #9BC2E6;
    overflow: hidden;
    white-space: nowrap;

  .ag-footer-cell-entire-row
    background-color: #fff;
    font-weight: bold;
    padding: 4px;
    border-bottom: solid 1px #9BC2E6;

  .ag-group-cell
    font-style: italic;

  .ag-group-expand
    padding-right: 2px;

  .ag-footer-cell
    font-style: italic;

  .ag-filter-checkbox
    position: relative;
    top: 2px;
    left: 2px;
    padding-right: 2px;

  .ag-filter-header-container
    border-bottom: 1px solid #d3d3d3;
    font: 10pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;

  .ag-filter-apply-panel
    border-top: 1px solid #d3d3d3;
    padding: 2px;

  .ag-filter
    background-color: #fff;
    border: 1px solid #c6c6c6;
    font: 9pt Calibri, "Segoe UI", Thonburi, Arial, Verdana, sans-serif;

  .ag-filter-filter
    background-color: #fff;
    border: 1px solid #c6c6c6;
    width: 192px;

  .ag-filter-value
    margin-left: 4px;

  .ag-filter-value:hover
    background-color: #3399ff;
    border: 1px dotted #000;
    color: #fff;

  .ag-selection-checkbox
    margin-left: 4px;

  .ag-paging-panel
    padding: 4px;

  .ag-paging-button
    margin-left: 4px;
    margin-right: 4px;

  .ag-paging-row-summary-panel
    display: inline-block;
    width: 300px;

  .ag-column-not-visible
    opacity: 0.75;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=75)";
    filter: "alpha(opacity=75)";

  .ag-not-dragging
    border: 1px solid transparent;

  .ag-drop-target-above
    border-top: 5px solid #a9a9a9;

  .ag-drop-target-below
    border-bottom: 5px solid #a9a9a9;

  .ag-dragging
    border: 1px dotted #a9a9a9;

  .ag-list-item-selected
    color: #f0f0f0;

  .ag-list-item-not-selected
    font-style: italic;
    color: #a0a0a0;

  .ag-tool-panel-container
    background-color: #eee;
    box-sizing: border-box;
    border: 1px solid #a9a9a9;
    padding: 4px;

  .ag-list-selection
    background-color: #fff;
    border: 1px solid #a9a9a9;
    box-sizing: border-box;

  .ag-popup-list .ag-list-item:hover
    background-color: #add8e6;

  .ag-visible-icons
    padding-left: 2px
    padding-right: 2px

  .ag-header-icon
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    // display: inline-block !important;
    display: inline-block
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga';

  .ag-sort-ascending-icon:after
    content: 'keyboard_arrow_up'
    line-height: inherit

  .ag-sort-descending-icon:after
    content: 'keyboard_arrow_down'
    line-height: inherit
